<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/cart.css}">
</th:block>

<!-- JS 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">

    $(document).ready(function(){
      $("input[name=cartChkBox]").change( function(){
        getOrderTotalPrice();
      });
    });

    function getOrderTotalPrice(){
      //주문 총액 계산
      let orderTotalPrice = 0; //주문 총액 초기화
      $("input[name=cartChkBox]:checked").each(function() { //체크박스 체크상태
        let cartGoodsId = $(this).val(); //장바구니 상품 Id
        let price = $("#price_" + cartGoodsId).attr("data-price"); //가격
        let count = $("#count_" + cartGoodsId).val(); //개수
        orderTotalPrice += price*count; //가격 * 개수 추가
      });

      $("#orderTotalPrice").html(orderTotalPrice+'원'); //html영역에 작성
    }

    function changeCount(obj){
      //주문수량 변경 체크
      let count = obj.value; //변경 개수
      let cartGoodsId = obj.id.split('_')[1]; //아이디 parsing
      let price = $("#price_" + cartGoodsId).data("price"); //가격
      let totalPrice = count * price; //해당 상품 총액
      $("#totalPrice_" + cartGoodsId).html(totalPrice+"원"); //상품 총액
      getOrderTotalPrice(); //주문 전체 총액
      updateCartGoodsCount(cartGoodsId, count); //변경 사항 DB 업데이트
    }

    function checkAll(){
      //전체 선택
      if($("#checkall").prop("checked")){ //전체 선택 체크
        $("input[name=cartChkBox]").prop("checked",true); //하위 체크박스 전부 checked true
      }else{ //전체 선택 해제
        $("input[name=cartChkBox]").prop("checked",false); //하위 체크박스 전부 checked false
      }
      getOrderTotalPrice(); //주문 전체 총액 계산
    }

    function updateCartGoodsCount(cartGoodsId, count){
      //상품 수량 최신화 요청
      let token = $("meta[name='_csrf']").attr("content"); //csrf 토큰 확인
      let header = $("meta[name='_csrf_header']").attr("content");

      let url = "/cartGoods/" + cartGoodsId+"?count=" + count; //요청 컨트롤러

      $.ajax({
        url : url,
        type : "PATCH", //RESTful 부분 업데이트 PATCH
        beforeSend : function(xhr){
          // 데이터를 전송하기 전에 헤더에 csrf값을 설정
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache : false,
        success : function(result, status){
          console.log("cartGoods count update success");
        },
        error : function(jqXHR, status, error){
          if(jqXHR.status == '401'){ //401 권한 없음
            alert('로그인 후 이용해주세요');
            location.href='/members/login'; //로그인 페이지로 이동
          } else{
            alert(jqXHR.responseJSON.message);
          }

        }
      });
    }

    function deleteCartGoods(obj){
      //장바구니 상품 제거
      let cartGoodsId = obj.dataset.id; //th:data-id="${cartGoods.cartGoodsId}"
      let token = $("meta[name='_csrf']").attr("content"); //csrf 토큰 확인
      let header = $("meta[name='_csrf_header']").attr("content");

      let url = "/cartGoods/" + cartGoodsId; //컨트롤러 요청 url

      $.ajax({
        url : url,
        type : "DELETE", //RESTful 삭제 DELETE
        beforeSend : function(xhr){
          // 데이터를 전송하기 전에 헤더에 csrf값을 설정
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache : false,
        success : function(result, status){
          location.href='/cart'; //장바구니 페이지 새로고침
        },
        error : function(jqXHR, status, error){
          if(jqXHR.status == '401'){ //401 권한 없음
            alert('로그인 후 이용해주세요');
            location.href='/members/login'; //로그인 페이지로 이동
          } else{
            alert(jqXHR.responseJSON.message);
          }
        }
      });
    }

    function orders(){
      //장바구니 주문
      let token = $("meta[name='_csrf']").attr("content"); //csrf 토큰 확인
      let header = $("meta[name='_csrf_header']").attr("content");

      let url = "/cart/orders"; //컨트롤러 요청 url

      let dataList = new Array(); //json 객체 배열(cartGoodsId)
      let paramData = new Object(); //json 객체

      $("input[name=cartChkBox]:checked").each(function() { //체크된 상품 객체 저장
        let cartGoodsId = $(this).val();
        let data = new Object();
        data["cartGoodsId"] = cartGoodsId;
        dataList.push(data);
      });

      paramData["cartOrderDTOList"] = dataList;

      let param = JSON.stringify(paramData); //json 형식으로 변경

      $.ajax({
        url : url,
        type : "POST",
        contentType : "application/json",
        data : param,
        beforeSend : function(xhr){
          // 데이터를 전송하기 전에 헤더에 csrf값을 설정
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache : false,
        success : function(result, status){
          alert("주문이 완료 되었습니다.");
          location.href='/orders'; //구매이력 페이지
        },
        error : function(jqXHR, status, error){
          if(jqXHR.status == '401'){ //401 권한 없음
            alert('로그인 후 이용해주세요');
            location.href='/members/login'; //로그인 페이지로 이동
          } else{
            alert(jqXHR.responseJSON.message);
          }
        }
      });
    }

  </script>

</th:block>

<div layout:fragment="content" class="content-mg">

  <h2 class="mb-4">
    장바구니 목록
  </h2>

  <div>

    <table class="table">
      <thead>
      <tr class="text-center">
        <td class="sel">
          <input type="checkbox" id="checkall" onclick="checkAll()"> 전체선택
        </td>
        <td class="g-tbl-info">상품정보</td>
        <td class="g-tbl-price">상품금액</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cartGoods : ${cartGoodsList}">
        <td class="text-center align-middle">
          <input type="checkbox" name="cartChkBox" th:value="${cartGoods.cartGoodsId}">
        </td>
        <td class="d-flex">
          <div class="repImgDiv align-self-center">
            <img th:src="${cartGoods.imgUrl}" class = "rounded repImg" th:alt="${cartGoods.goodsName}">
          </div>
          <div class="align-self-center">
            <span th:text="${cartGoods.goodsName}" class="fs24 font-weight-bold"></span>
            <div class="fs18 font-weight-light">
              <span class="input-group mt-2">
                <span th:id="'price_' + ${cartGoods.cartGoodsId}"
                      th:data-price="${cartGoods.price}"
                      th:text="${cartGoods.price} + '원'" class="align-self-center mr-2">
                </span>
                <input type="number" name="count" th:id="'count_' + ${cartGoods.cartGoodsId}"
                       th:value="${cartGoods.count}" min="1"
                       onchange="changeCount(this)" class="form-control mr-2" >
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" th:data-id="${cartGoods.cartGoodsId}" onclick="deleteCartGoods(this)">&times;</span>
                </button>
              </span>
            </div>
          </div>
        </td>
        <td class="text-center align-middle">
          <span th:id="'totalPrice_' + ${cartGoods.cartGoodsId}"
                name="totalPrice" th:text="${cartGoods.price * cartGoods.count} + '원'">
          </span>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 class="text-center">
      총 주문 금액 : <span id="orderTotalPrice" class="text-danger">0원</span>
    </h2>

    <div class="text-center mt-3">
      <button type="button" class="btn btn-primary btn-lg" onclick="orders()">주문하기</button>
    </div>

  </div>

</div>

</html>