@charset "UTF-8";

ul{list-style:none;}

.sell{
    display:inline-block;
    background-color:#3e72c0;
}
.sold-out{
    display:inline-block;
    background-color:#d1377f;
}

.goods-info-main{
    padding-bottom:0px !important;
}
.goods-info-wrap{
    /* border: 1px solid red; */
    width:100%;
}
.goods-main-img{
    /* border:1px solid blue; */
}
.goods-main-img > img{
    /* border:1px solid red; */
    height:500px;
    object-fit: contain;
    object-position: center top;
}
.goods-wrap{
    /*border:1px solid green;*/
}
.goods-wrap > div{
    /*background-color:pink;*/
}
.goods-info{
    box-shadow: 0 2px 4px 0 #00000025;
    border: solid 1px #f5f5f5;
    border-radius:5px;
    padding:020px;
    height:auto;

}
.total{
    height:50px;
    line-height:50px;
}
.total > p{
    height:50px;
    line-height:50px;
}
.total > p:nth-of-type(1){
    width:30%;
    margin-right:10%;
    font-size:20px;
    float:left;
}
.total > p:nth-of-type(2){
    text-align:right;
    font-size:30px;
    font-weight:bold;
    float:right;
    width:60%;

}
.goods-title{
    font-size:30px;
    border-top:3px solid #999999;
    margin-top:5px;
    padding:10px 0;
    border-bottom:1px solid #999999;
}
.goods-price{
    padding-top:10px;
    padding-bottom:12px;
}
.goods-price > span{
    font-size:20px;
}

.goods-summery{
    margin:20px 0;
}

.goods-count{
    margin:15px 0;
}
.goods-count > span{
    display:inline-block;
    height:40px;
    line-height:40px;
    font-size:20px;
}
.goods-count > input{
    float:right;
    display:inline-block;
    width:100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.purchase-btn-wrap{width:100%;height:50px;}

.purchase-btn-wrap .btn{width:48%;}
.purchase-btn-wrap .btn:first-child{
    margin-right:4%;
}
.btn-default {background: #787878;  color: #ffffff;outline:none; border:none;}
.btn-default:hover {background: #676767; color: #ffffff;}

.btn-primary {background: #131922;  color: #ffffff; outline:none; border:none;}
.btn-primary:hover {background: #0a0c14; color: #ffffff;}

.lead{
    margin:20px 0;
}
/* 탭 전체 스타일 */
.goods-dtl{
    margin-top:0px;
    padding-top:15px !important;
}
.tabs {
    padding-bottom: 40px;
    background-color: #ffffff;
    width:100%;
    margin: 0 auto;

}

/* 탭 스타일 */
.tab_item {
    width: calc(100%/3);
    height: 50px;
    border-bottom: 3px solid #333333;
    background-color: #f8f8f8;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #333333;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
    display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}


/* 선택 된 탭 콘텐츠를 표시 */
#all:checked ~ #all_content,
#review_tab:checked ~ #review_tab_content,
#qna_tab:checked ~ #qna_tab_content {
    display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
    background-color: #333333;
    color: #fff;
}
#top{
    height:93px !important;
}
#bottom{
    height:220px !important;
}