@charset "utf-8";


#join_wrap{
    clear:both;
    margin:100px auto 0 auto;
    width:800px;
}
#join_wrap h3{
    height:30px;
    margin-bottom:50px;
    position:relative;
    z-index:-1;

}
#join_wrap h3 span{    
    position:relative;
    font-size:30px;
}
#join_wrap h3 span::before{
    content:"";
    width:4px;
    height:14px;
    border-radius:5px;
    background-color:#666666;
    position:absolute;
    left:-9px;
}

#join_wrap > p{
    font-size:25px;
    margin-bottom:40px;
    text-align:center;
}
#join_wrap > p > span{
    font-weight:bold;
}

/* 기본 정보*/
#user_info{
    height:400px;
    margin-bottom:50px;
}
#user_info > p{
    font-size:20px;
    margin-bottom:10px;
    position:relative;
}
#user_info > p::before{
    content:"";
    width:4px;
    height:11px;
    border-radius:5px;
    background-color:#666666;
    position:absolute;
    left:-9px;
}
.fieldError{
    padding-left:20px;
    padding-top:14px;
}
.form_wrap1{
    border-top:3px solid #999999;
    border-bottom:4px solid #999999;  
    width:800px;
    height:367px;
}
.line{
    clear:both;
    float:left;
    width:800px;
    height:60px;
    border-top:1px solid #999999;
}
.l_con{
    float:left;
    display:block;
    width:100px;
    height:60px;
    padding-left:10px;
    line-height:60px;
    font-size:14px;
    background-color:#eaeaea;
    color:#333333;
}
.dup_chk{
    float:left;
    margin:15px 0;
}
.dup_chk button{
    display:block;
    padding:0;
    margin:0;
    height:30px;
    width:70px;
}
.r_con{
    float:left;
    border:1px solid #999999;
    border-radius:3px;
    width:180px;
    height:30px;
    margin:15px 10px;
}
.r_con input{
    float:left;
    width:180px;
    height:30px;
    border:none;
    outline:none;
    background:none;
    padding:0;
    text-indent:10px;
    color:#333333;
}
.u_sex{
    float:left;
    margin-left:10px;
    line-height:60px;
    font-size:14px;
}
.u_sex input{
    margin-bottom:5px;
    margin-right:20px;
}
/* 배송지 정보 */
#delivery_info{
    height:300px;
    margin-bottom:20px;

}
#delivery_info > p{
    font-size:20px;
    margin-bottom:5px;
    position:relative;
}
#delivery_info > p::before{
    content:"";
    width:4px;
    height:11px;
    border-radius:5px;
    background-color:#666666;
    position:absolute;
    left:-9px;
}

.line2{
    width:800px;
    height:270px;
}
.line2 > div{
    padding-left:410px;
    box-sizing:border-box;
    margin-bottom:10px;
}
.line2 > div > label{
    float:left;

}
.chk_box{
    float:right;
    display:inline-block;
    border:2px solid #aaaaaa;
    width:15px;
    height:15px;
    border-radius:50%;
    background:url(../img/check_i_off.png) no-repeat center center;
    background-size:12px 12px;
    margin-left:3px;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#chk_same{
    width:0;
    height:0;
    overflow:hidden;
}
.line2 > div strong{
    color:#cc0000;
    font-weight:bold;
}
#l_order{clear:both;}
#l_order{
    width:390px;
    float:left;
}
#r_order{
    width:390px;
    float:right; 
}
#l_order > legend, #r_order > legend{
    height:21px;
    font-size:17px;
    margin-bottom:5px;
}
#l_order > ol, #r_order > ol{
    width:390px;
    height:204px;
    border-top:4px solid #999999;
    border-bottom:4px solid #999999;

}
#l_order > ol > li, #r_order > ol > li{
    clear:both;
    border-top:1px solid #999999;
}
#l_order > ol > li:nth-child(1), #r_order > ol > li:nth-child(1){
    border-top:none;
}
#l_order label, #r_order label{
    display:block;
    float:left;
    width:100px;
    height:50px;
    padding-left:10px;
    line-height:50px;
    font-size:14px;
    background-color:#eaeaea;
    color:#333333;
}
.order_t{
    height:25px;
    margin-bottom:5px;
}

#l_order > ol > li > input, #r_order > ol > li > input{
    float:left;
    border:1px solid transparent;
    width:180px;
    height:30px;
    margin:7px 10px;
}
#l_order > ol > li:nth-child(3) > input,
#r_order > ol > li:nth-child(3) > input{
    width:140px;
}
#l_order > ol > li:nth-child(3) > .search_btn,
#r_order > ol > li:nth-child(3) > .search_btn{
    border:1px solid #999999;
    border-radius:3px;
    width:100px;
    height:30px;
    margin-top:10px;
}
#l_order > ol > li:nth-child(4) > input,
#r_order > ol > li:nth-child(4) > input{
    width:250px;
}
#join_btn{
    width:180px;
    height:50px;
    text-align:center;
    margin:0 auto;
    background-color:#47644d;
    border-radius:3px;
    line-height:50px;
    margin-bottom:40px;
}
#join_btn >button{
    display:block;
    width:180px;
    height:50px;
    background:transparent;
    border:none;
    outline:none;
    font-size:18px;
    color:#ffffff;
}
#join_btn:hover{
    background-color:#2a4135;
}

