@charset "utf-8";

#pagination{text-align:center;}

.page_wrap > ul,
.page_wrap > li {
    margin:0;
    padding:0;
    list-style:none;
}
.page_wrap > li{
    display:inline-block;
    width:30px;
    height:30px;
    margin: 0 3px;
}

.page_wrap > .skip{
    width:50px;
}
.page_wrap > li > a{
    text-decoration:none;
    color:#999999;
}
.active{
    display:inline-block;
    text-decoration:none;
    width:30px;
    height:30px;
    line-height:30px;
    background-color:#999999;
    border-radius:50%;
    font-weight:bold;
}
.active > a{
    color:#ffffff !important;
}
.disabled, .active{
    pointer-events: none;
}

#top{
    width:100%;
    min-width:1200px;
    height:98px;
    background:#ffffff;/*#435d49;*/
    opacity:0.9;
    border-bottom:1px solid #666666;
    z-index:10;
}
#top #top_wrap{
    width:1200px;
    height:60px;
    margin:0 auto;
}
#top .quick{
    width:100%;
    min-width:1200px;
    height:30px;
    text-align:center;
    line-height:30px;
    margin-bottom:8px;
    border-bottom:1px solid #aaaaaa;
}
#top .float_wrap{
    width:1200px;
    margin:0 auto;
    height:30px;
}
#top .quick_wrap{
    width:auto;
    margin:0 auto;
    height:30px;
    float:right;
}
#top .quick_wrap li{
    float:left;
    height:15px;
    /*    border-left:2px solid #99aa9a;*/
    padding-left:6px;
    margin:0 3px;
}
#top .quick_wrap li:first-child{
    border-left:none;
    padding-left:0px;
}
#top .quick_wrap li a{
    font-size:14px;
    height:15px;
    color:#666666;
}
#top .quick_wrap li a:hover{
    text-decoration:underline;
    color:#333333;
}

#top #top_wrap h1{
    float:left;
    width:180px;
    height:40px;
    margin-right:20px;
    margin-top:10px;
}

#top .main_navi{
    float:left;
    width:700px;
    height:40px;
    position:relative;
    z-index:10;
}
#top .menu{
    width:700px;
    height:40px;
    text-align:center;
}
#top .menu > li{
    float:left;
    width:140px;
    height:40px;
    position:relative;
}
#top .menu > li > a{
    display:block;
    margin-top:5px;
    width:140px;
    height:50px;
    line-height:50px;
    color:#666666;/*#58745f;*/
    font-size:18px;
    transition:all 0.2s ease-in;
}

#top.menu > li:nth-child(1):hover > a{color:#ffcc33;}
#top .menu > li:nth-child(2):hover > a{color:#00cc99;}
#top .menu > li:nth-child(3):hover > a{color:#0099ff;}
#top .menu > li:nth-child(4):hover > a{color:#66ccff;}
#top .menu > li:nth-child(5):hover > a{color:#cc00ff;}
#top .menu > li > a:hover{
    border-bottom:5px solid #666666;
}
/*
#top .bg{
    position:absolute;
    left:0;
    top:60px;
    width:700px;
    height:250px;
    background-color:#ffffff;
    z-index:10;
}
#top .menu > li > .sub{
    position:absolute;
    left:0;
    top:60px;
    z-index:40;
    padding-top:30px;
    width:140px;
    height:250px;
    box-sizing:border-box;
}
#top .menu > li > .sub > li{
    width:140px;
    height:40px;
    line-height:40px;
}
#top .menu > li > .sub > li a{
    width:140px;
    height:40px;
    font-weight:normal;
    font-size:15px;
    display:block;
}
#top .menu > li > .sub > li a:hover{
    color:#999999;
    font-weight:bold;
}
#top .ln{
    position:absolute;
    left:0px;
    top:90px;
    width:1px;
    height:200px;
    display:block;
    background:#666666;
    z-index:20;
}*/

#top .q_join{
    float:right;
    width:200px;
    height:60px;
}
#top .q_join_wrap{
    width:200px;
    height:40px;
    text-align:center;
}
#top .q_join_wrap li{
    float:left;
    width:100px;
    height:40px;
}
#top .q_join_wrap li a{
    display:block;
    margin-top:5px;
    width:100px;
    height:50px;
    line-height:50px;
    color:#666666;/*#99aa9a;*/
    font-size:18px;
    transition:all 0.2s;
}
#top .q_join_wrap li a:hover{
    border-bottom:5px solid #666666;
}