@charset "utf-8";

/*bottom 전체*/
#bottom{
    width:100%;
    min-width:1200px;
    height:200px;
    background-color:#222222;
    padding-bottom:20px;
    color:#666666;
}
/*bottom 내용*/
.bottom_wrap{
    width:1200px;
    height:200px;
    margin:0 auto;
    position:relative;
}
/*info*/
.info{
    float:left;
}
/*info 공통*/
.customer > h3, .company > h3{
    font-size:18px;
    color:#666666;
    display:inline-block;
    width:auto;
    margin:20px 0;
    text-indent:10px;
    position:relative;
}
.customer > h3::after, .company > h3::after{
    content:"";
    position:absolute;
    left:0px;
    top:50%;
    transform:translate(0,-50%);
    width:3px;
    height:80%;
    background:#666666;
}

/*customer center*/
.customer{
    width:250px;
    height:200px;
    margin-right:30px;
    margin-left:20px;
}
.customer > p{
    font-size:25px;
    margin-bottom:20px;
}
.customer > p::before{
    content:"\2121\002E";
    padding-right:5px;
}
.time_info{
    width:250px;
}
.time_info > li{
    line-height:2em;
}
.time_info > li > strong{
    padding-right:10px;
}

/*company info*/
.company{
    width:900px;
    height:200px;
}
.company_info{
    width:900px;
}
.company_info strong{
    margin-right:10px;
}
.company_info > li{
    clear:both;
    margin:10px 0px;
    width:900px;
    height:20px;
}
.company_info > li > ul{
    width:900px;
}
.company_info > li > ul > li{
    display:inline-block;
    margin-right:50px;
}
.company_info > li > ul > li:first-child{
    width:260px;
    margin-right:0px;
}

.bottom_img{
    float:right;
    width:171px;
    height:34px;
    right:20px;
    bottom:0px;
    position:absolute;

}
