@charset "utf-8";

#login_title{
    width:100%;
    min-width:400px;
    height:150px;
    margin:0 auto;
}
.title_wrap{
    width:400px;
    height:123px;
    margin:0 auto;
}
.title_wrap h3{
    width:200px;
    height:103px;
    margin:10px auto;
}
.title_wrap p{
    float:right;
    width:20px;
    height:20px;
    
}
.title_wrap p a{
    width:20px;
    height:20px;
    display:block;
    text-align:center;
    line-height:19px;
    font-size:12px;
    color:#333333;
    border-radius:50%;
    background-color:#eaeaea;
}
.title_wrap p a:hover{
    color:#eaeaea;
    background-color:#666666;
}
#login_wrap{
    width:400px;
    height:700px;
    margin:0 auto;
}
.login{
    width:400px;
    height:300px;
}
.login h3{
    text-align:center;
    font-size:30px;
    margin-bottom:20px;
}
#u_id, #u_pwd{
    border:1px solid #999999;
    width:400px;
    height:40px;
    text-indent:1em;
    outline:none;
    margin-bottom:10px;
    padding:0px;
    border-radius:3px;
    box-sizing:border-box;
}
#u_id:focus, #u_pwd:focus{
    border:3px solid #3e72c0;   
}
.login_chk{
    height:20px;
    margin-bottom:10px;
    font-size:13px;
    color:#666666;
}
.login_chk input{
    float:left;
    margin-top:2px;
    margin-right:5px;
}
.login_chk label{float:left;}

.login_sub{
    clear:both;
    width:400px;
    height:40px;
    margin-bottom:10px;
}
.login_sub input{
    background-color:#f05b95;
    color:#ffffff;
    width:400px;
    height:40px;
    font-size:15px;
        font-weight:bold;
    letter-spacing:2px;
    cursor:pointer;
    border:none;
    border-radius:3px;

}
.login_sub input:hover{
    background-color:#d1377f;
}
.login_list{
    height:25px;
    text-align:center;
}
.login_list li{
    position:relative;
    display:inline-block;
    padding:3px 10px;
}
.login_list li::before{
    content:"";
    position:absolute;
    left:0;
    top:50%;
    margin-top:-6px;
    width:1px;
    height:12px;
    background-color:#999999;
}

.login_list li:first-child::before{
    width:0px;
}
.login_list li a{
    font-size:14px;
    color:#999999;
}
.login_list li a:hover{
    text-decoration:underline;
    color:#666666;
}

.login_easy{
    width:400px;
}
.login_easy h3{
    font-size:20px;
    margin-bottom:10px;
}
.btn_wrap li{
    width:400px;
    height:50px;
    margin-bottom:5px;
    border-radius:5px;
}
.btn_wrap li > input{
    width:400px;
    height:50px;
    border:none;
    border-radius:5px;
    outline:none;
    font-size:15px;
    font-weight:700;
    color:#333333;
    cursor:pointer;
}
.btn_wrap li:nth-child(1) > input{background:#f4f4f4 url(../images/sns1.jpg) no-repeat left top;}/*#fad400*/
.btn_wrap li:nth-child(2) > input{background:#f4f4f4 url(../images/sns2.jpg) no-repeat left top;}/*#00bd38*/
.btn_wrap li:nth-child(3) > input{background:#f4f4f4 url(../images/sns3.jpg) no-repeat left top;}/*#274883*/
.btn_wrap li:nth-child(4) > input{background:#f4f4f4 url(../images/truck.png) no-repeat 110px center;background-size:30px 30px;}/*#274883*/
.btn_wrap li:nth-child(4){margin-top:70px;margin-bottom:0px;position:relative;}
.btn_wrap li:nth-child(4)::before{
    content:"이젠 누구나 쉽게 티젠으로";
    position:absolute;
    left:50%;
    top:-30px;
    transform:translate(-50%,0);
    font-size:14px;
    color:#666666;
    text-align:center;
}
.btn_wrap li:hover > input{background-color:#dedede;}
/*.btn_wrap li:nth-child(1) input{background:#f4f4f4 url(../images/sns1.jpg) no-repeat left top;}*/