<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .search-result{
      float:left;
      width:400px;
      height:100px;
      line-height:90px;
      font-size:18px;
    }
    .product_list{
      height:auto !important;
      overflow:hidden;
    }
    .product_list > li{
      margin-bottom:20px;
    }
    .product_list > li:nth-child(4n+1){
      margin-left:20px;
    }
  </style>
</th:block>

!-- JS 추가 -->
<th:block layout:fragment="script">

</th:block>

<div layout:fragment="content">

  <div class="section main_hot" style="background-color:#ffffff;">
    <div class="hot_items">
      <h2 th:if="${#strings.isEmpty(goodsSearchDTO.searchQuery)}"><b>전체</b> 상품보기</h2>
      <h2 th:if="${not #strings.isEmpty(goodsSearchDTO.searchQuery)}"><b>검색</b> 상품보기</h2>

      <input type="hidden" name="searchQuery" th:value="${goodsSearchDTO.searchQuery}">
      <div th:if="${not #strings.isEmpty(goodsSearchDTO.searchQuery)}" class="center">
        <p class="search-result" th:text="'&#34;' + ${goodsSearchDTO.searchQuery} + '&#34; 검색 결과 (총 : ' + ${pageInfo.getContent().size()} + '건)'"></p>
      </div>


      <ul class="product_list">
        <th:block th:each="goods, status: ${pageInfo.getContent()}">
          <li>
            <div class="description">
              <a th:href="'/goods/' + ${goods.id}">
                <p class="prd_img"><img th:src="${goods.imgUrl}" class="card-img-top" th:alt="${goods.goodsName}" height="275"></p>
                <p class="prd_txt" th:title="${goods.goodsName}">[[${goods.goodsName}]]</p>
              </a>
              <!--<div class="percent">(할인율)<span>%</span></div>-->
            </div>
            <div class="prd_price">
              <p class="sale">판매가격 : [[${goods.goodsPrice}]] 원</p>
              <!--<p class="price">(일반 가격))원</p>-->
            </div>
          </li>
        </th:block>
      </ul><!--product_list-->

    </div><!--hot_items-->
  </div><!--section main_hot-->


  <div id="pagination" th:with="start=${(pageInfo.number/maxPage)*maxPage + 1},
                                end=(${(pageInfo.totalPages == 0) ? 1 : (start + (maxPage - 1) < pageInfo.totalPages ? start + (maxPage - 1) : pageInfo.totalPages)})">
    <ul class="page_wrap">
      <!-- 이전버튼 -->
      <li class="skip" th:classappend="${pageInfo.number eq 0} ? 'disabled' : ''">
        <a th:href="@{'/' + '?searchQuery=' + ${goodsSearchDTO.searchQuery} + '&page=' + ${pageInfo.number - 1}}">
          <span>이전</span>
        </a>
      </li>

      <!-- 넘버링버튼 for문 -->
      <li th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${pageInfo.number eq (page - 1)} ? 'active' : ''">
        <a th:href="@{'/goods/goods-list' +'?searchQuery=' + ${goodsSearchDTO.searchQuery} + '&page=' + ${page - 1}}" th:inline="text">[[${page}]]</a>
      </li>


      <!-- 다음버튼 -->
      <li class="page-item" th:classappend="${pageInfo.number + 1 ge pageInfo.totalPages} ? 'disabled' : ''">
        <a th:href="@{'/' +'?searchQuery=' + ${goodsSearchDTO.searchQuery} + '&page=' + ${pageInfo.number+1}}" aria-label='Next' class="page-link">
          <span>다음</span>
        </a>
      </li>

    </ul>
  </div>
</div>

</html>