<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/order.css}">
</th:block>

<!-- JS 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">
    function cancelOrder(orderId) {
      //주문 취소
      let token = $("meta[name='_csrf']").attr("content"); //csrf 토큰 확인
      let header = $("meta[name='_csrf_header']").attr("content");

      let url = "/order/" + orderId + "/cancel"; //컨트롤러 요청 url
      let paramData = { //주문 정보
        orderId : orderId,
      };

      let param = JSON.stringify(paramData); //json형식으로 변경

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          // 데이터를 전송하기 전에 헤더에 csrf값을 설정
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("주문이 취소 되었습니다.");
          location.href='/orders/' + [[${page}]];
        },
        error : function(jqXHR, status, error){
          if(jqXHR.status == '401'){ //401 권한 없음
            alert('로그인 후 이용해주세요');
            location.href='/members/login'; //로그인 페이지로 이동
          } else{
            alert(jqXHR.responseText);
          }
        }
      });
    }
  </script>

</th:block>

<div layout:fragment="content" class="content-mg">

  <h2 class="mb-4">구매 이력</h2>

  <div th:each="order : ${orders.getContent()}" class="order-wrap">

    <div class="d-flex mb-3 align-self-center order-status">
      <h4 class="order-date" th:text="${order.orderDate} + ' 주문'"></h4>
      <div class="ml-3">
        <th:block th:if="${order.orderStatus == T(com.example.giftshop.orders.constant.OrderStatus).ORDER}">
          <button type="button" class="btn btn-outline-secondary cancel-btn" th:value="${order.orderId}" onclick="cancelOrder(this.value)">주문취소</button>
        </th:block>
        <th:block th:unless="${order.orderStatus == T(com.example.giftshop.orders.constant.OrderStatus).ORDER}">
          <h4 class="canceled">(취소 완료)</h4>
        </th:block>
      </div>
    </div>
    <div class="card d-flex order-con">
      <div th:each="orderGoods : ${order.orderGoodsDTOList}" class="d-flex mb-3">
        <div class="repImgDiv">
          <img th:src="${orderGoods.imgUrl}" class="rounded repImg" th:alt="${orderGoods.goodsName}">
        </div>
        <div class="align-self-center w-75">
          <span th:text="${orderGoods.goodsName}" class="fs24 font-weight-bold goods-name"></span>
          <div class="fs18 font-weight-light">
            <span th:text="${orderGoods.orderPrice} +'원'"></span>
            <span th:text="${orderGoods.count} +'개'"></span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div th:with="start=${(orders.number / maxPage) * maxPage + 1}, end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})" >
    <ul class="pagination justify-content-center">

      <li class="page-item" th:classappend="${orders.number eq 0} ? 'disabled' : ''">
        <a th:href="@{'/orders/' + ${orders.number - 1}}" aria-label='Previous' class="page-link">
          <span aria-hidden='true'>Previous</span>
        </a>
      </li>

      <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${orders.number eq page - 1}?'active':''">
        <a th:href="@{'/orders/' + ${page - 1}}" th:inline="text" class="page-link">[[${page}]]</a>
      </li>

      <li class="page-item" th:classappend="${(orders.number + 1) ge orders.totalPages} ? 'disabled' : ''">
        <a th:href="@{'/orders/' + ${orders.number + 1}}" aria-label='Next' class="page-link">
          <span aria-hidden='true'>Next</span>
        </a>
      </li>

    </ul>
  </div>

</div>

</html>